@import url('http://fonts.cdnfonts.com/css/blade-runner-movie-font');

body {
    background: url(https://wallpaperaccess.com/full/2504297.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center center;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    font-family: 'Blade Runner Movie Font', sans-serif;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    
}

h1:hover {
    color: lightblue;
}

#greeting {
    text-align: center;
    font-size: 60px;
}

p {
    color: white;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

a {
    color: white;
    font-family: 'Blade Runner Movie Font', sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    background: black;
}

a:hover {
    color: lightblue;
}

li {
    list-style: none;
}
  
li a {
    color: white;
}

input[type=text] {
    padding: .3em;
}

input[type=submit] {
    padding: .3em;
    color: black;
    background: lightblue;
    font-size: 1em;
    border-radius: 10%;
}