body {
    background: url(https://wallpaperaccess.com/full/2504297.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center center;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
}